.ant-layout {
    background: #ffffff !important;
}

.ant-layout-sider {
    background: #f7f7f7 !important;
}

.ant-menu-inline, .ant-menu-vertical {
    border-right: 0px solid #e9e9e9 !important;
}

.ant-layout-content {
    min-width: 980px !important;
}

.ant-table-pagination {
    margin: 10px 0px 0px 0px !important;
}

.ant-pagination-options-size-changer {
    margin-right: 0px !important;
}

.ant-input-number {
    width: 100% !important;
}

.ant-modal-body {
    height: 520px;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
}

/*.ant-layout-header {*/
/*background: #b30004 !important;*/
/*}*/

.login {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../image/bg.jpg') no-repeat center;
    background-size: cover;
}

.header {
    padding: 0 15px !important;
}

.title {
    color: #ffffff;
}

.logout {
    position: absolute;
    font-size: 22px;
    top: 22px;
    right: 20px;
    color: #ffffff;
}

.layout {
    background: #ffffff;
}

.sider {
    background: #f7f7f7;
}

.ant-menu-inline, .ant-menu-vertical {
    border-right: 1px solid #e9e9e9 !important;
}

.ant-layout-sider-trigger {
    background: #f7f7f7 !important;
    border-right: 1px solid #e9e9e9;
}

.ant-layout-sider-trigger .anticon {
    color: #000000;
}

.menu {
    height: 100%;
    background: #f7f7f7 !important;
    padding-top: 8px;
}

.ant-menu-submenu > .ant-menu {
    background-color: #f7f7f7 !important;
}

.content-title {
    font-size: 18px;
    font-weight: bold;
}

.content-button {
    text-align: right;
}

.content-search {
    padding: 10px 10px 0px 0px;
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.content-search-item {
    margin-bottom: 10px !important;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.divider {
    margin: 0 10px;
    display: inline-block;
    height: 8px;
    width: 1px;
    background: #cccccc;
}

.login_form {
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.login_form .ant-card-body {
    padding: 25px 20px 15px 20px !important;
}

.login_form .ant-form-item {
    margin-bottom: 15px;
}

.form-item {
    margin-bottom: 18px !important;
}

.form-image-item {
    margin-bottom: 5px !important;
}

.form-required-item label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 12px;
    color: #f04134;
}

.modal {
    min-width: 1000px;
}

.item {
    float: left;
    width: 96px;
    height: 96px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    position: relative;
}

.item-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-mask {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 84px;
    height: 84px;
}

.item-mask-active {
    background-color: #000000;
    opacity: 0.5;
}

.item-check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
    font-size: 28px;
    width: 28px;
    color: #ffffff;
    cursor: pointer;
}

.item-preview-icon {
    position: absolute;
    bottom: 7px;
    left: 50%;
    margin-left: -22px;
    font-size: 17px;
    width: 17px;
    color: #ffffff;
    cursor: pointer;
}

.item-remove-icon {
    position: absolute;
    bottom: 9px;
    left: 50%;
    margin-left: 10px;
    font-size: 14px;
    width: 14px;
    color: #ffffff;
    cursor: pointer;
}

.button {
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fbfbfb;
    border: 1px dashed #d9d9d9;
    text-align: center;
    cursor: pointer;
}

.button-icon {
    font-size: 30px;
    color: #999;
    margin-top: 18px;
}

.button-text {
    color: #999;
    line-height: 20px;
}

.form-table-col .margin-top {
    margin-top: 0px !important;
}
